<div class="container-fluid">
  <div class="row">
    <div>
      <div class="upper-div text-light p-3">
        <h1
          style="
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform: uppercase;
            color: black;
            margin-left: 30%;
            margin-top: 20px;
            font-weight: bold;
          "
        >
          Welcome {{ username }}
        </h1>
      </div>
    </div>
  </div>
  <!-- .................................... -->
  <div class="row mt-5 border">
    <div class="col-4 border">
      <button class="btn btn-primary p-1" (click)="toStudentFormCompo()">
        Enroll as Student
      </button>
    </div>

    <div class="col-4 border">
      <button class="btn btn-primary p-1">Enroll as Teacher</button>
    </div>
  </div>
</div>
