<head>
  <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
</head>

<div class="row mt-4">
  <div class="col-xs-6">
    <div style="background: rgb(186, 254, 255);
      background: linear-gradient(180deg, rgba(248, 255, 255, 0) 0%, rgb(189, 255, 254) 100%);
      width: 60%; padding: 20px;">



      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" formControlName="firstname" class="form-control">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" formControlName="lastname" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input type="date" id="dob" formControlName="dob" class="form-control">
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <div class="form-check">
            <input type="radio" id="male" value="Male" formControlName="gender" class="form-check-input">
            <label for="male" class="form-check-label">Male</label>
          </div>
          <div class="form-check">
            <input type="radio" id="female" value="Female" formControlName="gender" class="form-check-input">
            <label for="female" class="form-check-label">Female</label>
          </div>
          <div class="form-check">
            <input type="radio" id="other" value="Other" formControlName="gender" class="form-check-input">
            <label for="other" class="form-check-label">Other</label>
          </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6Ld4VOwoAAAAAHPLBc7j2MdcVJ8TU6F8HaRV4xbE"></div>
        <button type="submit" [disabled]="!signupForm.valid " class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>
