<div class="row mt-4">
  <div class="col-xs-6">
    <div style="background: rgb(186, 254, 255);
      background: linear-gradient(180deg, rgba(248, 255, 255, 0) 0%, rgb(189, 255, 254) 100%);
      width: 60%; padding: 20px;">

      <div *ngIf="loginFailed" class="alert alert-danger">
      Invalid Username or Password.
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control">
        </div>
        <button style="padding: 7px; margin: 10px;" type="submit" [disabled]="!loginForm.valid" class="btn btn-outline-primary">Login</button>
      </form>
    </div>
  </div>
</div>
