<!-- <button style="margin: 20px" (click)="showTeacherApprovalList()" class="btn btn-primary">
    Fetch Approval
</button>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Teacher Experience</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let approval of teacherapprovals">
                <td>{{ approval.id }}</td>
                <td>{{ approval.username }}</td>
                <td>{{ approval.email }}</td>
                <td>{{ approval.firstname }}</td>
                <td>{{ approval.lastname }}</td>
                <td>{{ approval.gender }}</td>
                <td>{{ approval.dob}}</td>
                <td>{{ approval.teachExp }}</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" (click)="approveTeacher(approval.username)">
                        Approve
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="deleteTeacherApprovals(approval.username)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->


<p>inside teaher </p>