<!-- <button style="margin: 20px" (click)="fetchUsers()" class="btn btn-primary">
  Fetch Users
</button> -->
<button style="margin: 20px" routerLink="../teacherDashboard" class="btn btn-primary">
  Fetch Teachers
</button>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="bg-dark text-white">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <!-- <td>{{ user.username }}</td> -->
        <div>{{ globalUsername | async | json }}</div>
        <td>{{ user.email }}</td>
        <td>{{ user.firstname | ShortenPipe:3}}</td>
        <td>{{ user.lastname | ShortenPipe:3}}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.dob | date : "fullDate"  }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div> 

